<div class="col-md-6 col-xl-6" >
    <div class="card" id="container">
        <div class="card-body">
            <h4>Weather Report</h4>
            <div>
                <div>
                
                    <strong> City :</strong> <%= @query %></br>
                    <strong>WindSpeed :</strong><%= @WindSpeed%></br>
                    <strong>Precip : </strong><%= @Precip%></br>
                    <strong>Pressure :</strong><%= @Pressure%></br>
                    <strong>Humidity :</strong><%= @Humidity%></br>
                    <strong>Visibility :</strong><%= @Visibility%></br>
                </div>
            </div>
        </div>
    </div>
</div>
