<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                            </ol>
                        </div>
                        <h4 class="page-title">Dashboard 3</h4>
                    </div>
                </div>
            </div>
            <%= render"resumes/resume" %>
            <%= render"user/weather" %>
            <%= render"customers/first" %>
            <%= render"books/book" %>
            <%= render"sports/sport" %>

            <!-- end page title -->